BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
DerivePointerAlignment: true
PointerAlignment: Left
QualifierAlignment: Left
IndentAccessModifiers: false
AccessModifierOffset: -4
SortIncludes: true
